/*
 * Theme Name: {{title}}
 * Theme URI: https://github.com/WordPress/{{slug}}
 * Author: WordPress.org Meta Team
 * Author URI: https://wordpress.org/
 * Description: {{description}}
 * Version: 1.0.0
 * License: GNU General Public License v2 or later
 * Text Domain: {{textdomain}}
 * Template: wporg-parent-2021
 */

/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */
