/* `rule-empty-line-before`: we customise its exceptions. */
.wporg-a {
	color: #1e1e1e;
}
.wporg-b {
	transition: color 120ms ease-in-out, background-color 120ms ease-in-out, border-color 120ms ease-in-out, outline 1ms;
}
